[Unit]
Description=Habit ePaper server
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/josephmcwhorter/go_eink_calendar/eink_calendar/
Environment=HABIT_ADDR=:8000
Environment=HABIT_DB_PATH=/home/josephmcwhorter/go_eink_calendar/eink_calendar/habit_epaper/habit.db
ExecStart=/home/josephmcwhorter/go_eink_calendar/eink_calendar/eink_calendar
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
